@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Pacifico&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #212121;
    display: flex;
    height: 61px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 50%);
    z-index: 10;
    transform: top 0.5s;
    transition: all 0.7s ease-out;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    color: #E9E9E9;
    width: 100%;
    transform: top 0.5s;
    transition: all 0.7s ease;
}

.v-nav {
    display: none;
    transform: top 0.5s;
}

.navbar ul{
    transform: top 0.5s;
    list-style: none;
}

.nav-v {
    display: none;
    transform: top 0.5s;
}

.h-nav {
    height: 203px;
}

a {
    text-decoration: none;
    color:#E9E9E9
}

a:visited {
    color: #E9E9E9;
}

a:active {
    border-bottom: 2px #E9E9E9;
}

.nav-items {
    font-family: 'Permanent Marker', cursive ;
    margin: 2px;
    padding: 10px 25px;
    cursor: pointer;
}

.nav-items i {
    padding: 0px 5px;
}

.menu {
    display: none;
    position: absolute;
    color: #E9E9E9;
    top: 20px;
    right: 5%;
    font-size: 20px;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: #212121;
    transition: all 0.7s ease-in;
}

.home-h{
    font-size: 2.8rem;
    color: #E9E9E9;
    font-family: 'Pacifico', cursive; 
}

.home-h p {
    border-bottom: 5px solid #E9E9E9;
    width: auto;
}

.paras {
    font-family: 'Permanent Marker', cursive ;
    font-size: 1.3rem;
    color: #E9E9E9;

}

.paras p {
    padding: 6px;
}

.box {
    border: 3px solid #E9E9E9;
    height: auto;
    border-radius: 15px;
    margin: 10px 100px;
    padding: 20px 20px;
}

.img {
    padding: 40px;
}

.img img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #212121;
    transition: all 0.7s ease-in;
    font-size: 1.3rem;
    color: #E9E9E9;
    font-family: 'Pacifico', cursive;
}

.about-h{
    font-size: 2.8rem;
    color: #E9E9E9;
    font-family: 'Pacifico', cursive; 
}

.about-h p {
    border-bottom: 5px solid #E9E9E9;
    width: auto;
}

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #212121;
    transition: all 0.7s ease-in;
}

.skills-h {
    font-size: 2.8rem;
    color: #E9E9E9;
    font-family: 'Pacifico', cursive;
}

.skills-h p {
    border-bottom: 5px solid #E9E9E9;
    width: auto;
}

.skill-container1 {
    color: #e9e9e9;
    font-family: "Permanent Marker", cursive;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-container2 {
    color: #e9e9e9;
    font-family: "Permanent Marker", cursive;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.circle {
    position: relative;
    min-width: 5rem;
    min-height: 5rem;
    width: 100%;
    height: 100%;
    max-height: 12rem;
    max-width: 12rem;
    border: 4px solid #e9e9e980;
    border-radius: 1000px;
    display: grid;
    place-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: calc(100% + 1rem);
}

.circle p {
    z-index: 2;
    user-select: none;
    font-size: 1.8vmax;
  }

.animaCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    z-index: 1;
    pointer-events: none;
    transition: clip-path 500ms ease;
}

.java {
    background: linear-gradient(
      to bottom left,
      rgb(237, 139, 0),
      rgb(0, 115, 150)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.c {
    background: linear-gradient(
      to bottom left,
      rgb(92,107,192),
      rgb(40,53,147)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.cpp {
    background: linear-gradient(
      to bottom left,
      rgb(101,154,210),
      rgb(0, 115, 150)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.python {
    background: linear-gradient(
      to bottom left,
      rgb(0,89,156),
      rgb(255,239,87)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.angular {
    background: linear-gradient(
      to bottom left,
      rgb(195,0,47),
      rgb(221,0,49)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.html {
    background: linear-gradient(
      to bottom left,
      rgb(244,90,59),
      rgb(255,113,90)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.ionic {
    background: linear-gradient(
      to bottom left,
      rgb(255,255,255),
      rgb(53,129,255)
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.circle:hover .java {
    clip-path: polygon(0% 20%, 100% 20%, 100% 100%, 0% 100%);
}

.circle:hover .c {
    clip-path: polygon(0% 25%, 100% 25%, 100% 100%, 0% 100%);
}

.circle:hover .cpp {
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}

.circle:hover .python {
    clip-path: polygon(0% 35%, 100% 35%, 100% 100%, 0% 100%);
}

.circle:hover .angular {
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}

.circle:hover .html {
    clip-path: polygon(0% 15%, 100% 15%, 100% 100%, 0% 100%);
}

.circle:hover .ionic {
    clip-path: polygon(0% 20%, 100% 20%, 100% 100%, 0% 100%);
}

.contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8rem;
    color: #E9E9E9;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    transition: all 0.7s ease-in;
}

.contact-h {
    font-size: 2.8rem;
    color: #E9E9E9;
    font-family: 'Pacifico', cursive;
}

.contact-h p {
    border-bottom: 5px solid #E9E9E9;
    width: auto;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 70%;
    align-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-content: center;
}

input, textarea{
    background-color: #E9E9E9;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    font-family: 'Permanent Marker', cursive ;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

textarea {
    height: 100px;
}

button {
    font-family: 'Permanent Marker', cursive ;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #E9E9E9;
    border: 2px solid #E9E9E9;
    border-radius: 8px;
    min-width: 120px;
    width: 15%;
    margin: 2px 10px;
}

button:hover {
    opacity: 0.7;
}

.social {
    margin: 5px;
    padding: 5px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.social p {
    font-size: 1.2rem;
}

.social-container {
    display: flex;
    text-align: left;
    height: auto;
}

.social-container i {
    padding: 0 20px;
}

.fa-instagram {
    color: #FF31BA; 
}
.fa-telegram {
    color: #00A1FF; 
}
.fa-github {
    color: #fff;    
}

footer {
    position: relative;
    width: 100%;
    background-color: #212121;
    justify-content: center;
    text-align: center;
    height: 61px;
    box-shadow: 0 -3px 4px rgb(0 0 0 / 50%);
    z-index: 4;
}

footer p {
    font-family: 'Permanent Marker', cursive ;
    padding: 0px 25px;
    color: #E9E9E9;
    padding-top: 16px;
    font-size: 0.7rem;
}